<%- include('includes/head') %>

<body>
    <header>
        <h1><%= data.title %></h1>
    </header>

    <div>
        <button onclick="window.location.href='/usuario'">
            <span>Voltar</span>
        </button>
    </div>

    <div>
        <form action="/usuario/add" method="post">
            <div>
                <label for="name">Nome</label><br>
                <input type="text" name="name" required><br>
            </div>
            
            <div>
                <label for="role">Tipo de usu치rio</label><br>
                <select name="role" required>
                    <option value="Usu치rio">Usu치rio</option>
                    <% if(data.role == 'SuperUsu치rio'){ %>
                        <option value="Administrador">Administrador</option>
                    <% } %>
                </select><br>
            </div>

            <div>
                <label for="email">Email</label><br>
                <input type="email" name="email" required><br>
            </div>

            <div>
                <label for="password">Password</label><br>
                <input type="password" name="password" required><br>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
