<%- include('includes/head') %>

<body>
    <header>
        <h1>Controle de Acesso</h1>
    </header>
    
    <div>
        <a href="/auth/login">
            <button>Login</button>
        </a>
    </div>
</body>
</html>
