<%- include('includes/head') %>

<body>
    <header>
        <h1>Perfil</h1>
    </header>

    <div>
        <button onclick="window.location.href='/users'">
            <div>Voltar</div>
        </button>
    </div>

    <div>
        <div>
            <img src="/<%= user.imageId %>" alt="Imagem do usuário">
            <h1>Nome: <%= user.name %></h1>
            <h1>Email: <%= user.email %></h1>
        </div>

        <div>
            <h1>Trocar Foto</h1>
            <form action="/perfil" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>

</html>
