<%- include('includes/head') %>

<body>
    <header>
        <h1>Relatórios</h1>
    </header>

    <div>
        <button onclick="window.location.href='/users'">Lista de Usuários</button>
    </div>
</body>

</html>
